.auth {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    color: #1d364b;
    background-color: #fafafa;
}

.container-login {
    width: 450px;
    display: inline-block;
    margin: 0 auto;
    animation: auth1 1s normal;
}

@keyframes auth1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 10;
    }
}

.auth img {
    display: block;
    margin: 0 auto;
    height: 50px;
}

.auth-pane {
    position: relative;
    width: 100%;
    height: 400px;
    background: #ffffff;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
}

.auth-pane h3 {
    margin-top: 20px;
    font-size: 25px;
}

.auth-pane h4 {
    text-align: left;
    margin-left: 50px;
    font-size: 12px;
}

.auth-pane p {
    font-size: 15px;
}

.auth-pane span {
    margin: 5px;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 5px;
    border-radius: 5px;
}

.auth-pane span:hover,
a:hover {
    background: #1d364b;
    color: #ffffff;
}

.auth-pane span a {
    text-decoration: none;
}

.auth-pane input {
    width: 80%;
    height: 50px;
    padding: 10px;
    margin: 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
}

::placeholder {
    color: rgba(0, 0, 0, .3);
    font-size: 15px;
}

.auth-pane .login {
    position: relative;
    width: 80%;
    height: 50px;
    margin-top: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: none;
    border: 1px solid rgba(87, 88, 187, .5);
    overflow: hidden;
}

.auth-pane .login::before {
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 100%;
    height: 50px;
    background-color: rgba(87, 88, 187, .7);
    color: #ffffff;
    border-radius: 5px;
    transition: .4s;
}

.auth-pane .login:hover::before {
    left: 0;
    border: none;
}

.check {
    margin: 0;
    color: #EE5A24;
    font-style: italic;
}

.fb-gg {
    width: 80%;
    height: 50px;
    margin-top: 15px;
    margin-left: 45px;
    position: relative;
}

.login-fb {
    position: absolute;
    left: 0;
    background: #1B1464;
    outline: none;
    border: none;
    width: 49%;
    height: 50px;
    cursor: pointer;
    font-size: 14px;
    color: #ffffff;
}

.login-gg {
    position: absolute;
    right: 0;
    background: #EE5A24;
    outline: none;
    border: none;
    width: 49%;
    height: 50px;
    cursor: pointer;
    font-size: 14px;
    color: #ffffff;
}