<div style="font-family: 'Quicksand', sans-serif;">
    <div class="container-test">
        <div class="test">
            <div style="margin: 10px;">
                <p>Name: </p>
                <input [(ngModel)]="name" type="text" name="test" class="name-test">
                <p style="display: inline;">Amount: </p>
                <input (input)="setNewCeil(amount)" [(ngModel)]="amount" type="number" name="amount">
                <span *ngIf="set ===1" class="alert1">
                    <b>Warning!</b> Please enter the question number greater than 0
                </span>
                <div style="margin: 20px auto;">
                    <div class="a">
                        <ng5-slider [(value)]="min" [(highValue)]="max" [options]="options"></ng5-slider>
                    </div>
                    <p>Easy: <span style="color: red;"> {{min}} </span> </p>
                    <p>Medium: <span style="color: #9980FA;">{{max - min}}</span></p>
                    <p>High: <span style="color: #10ac84;">{{amount- max}}</span></p>
                </div>

            </div>
            <button (click)="createTest()" class="btn-test" style="margin: 10px auto;">Generate</button>
        </div>
    </div>
</div>