<div style="font-family: 'Quicksand', sans-serif;">
    <div class="container-test">
        <div class="test">
            <div class="content">
                <p>Name: </p>
                <textarea></textarea>
                <p style="display: inline;">Amount: </p>
                <input type="text" name="amount" [(ngModel)]="amount">
                <span *ngIf="set ===1" class="alert1">
                    <b>Warning!</b> Please enter the question number greater than 0
                </span>
                <button (click)="setting()" class="btn-test" style="margin-left: 0;">Setting</button>
                <div *ngIf="set === 2" style="margin-top: 20px;">
                    <div class="a">
                        <div class="b">
                            <ng5-slider [(value)]="easy" [options]="easy_options" style="width: 750px;"></ng5-slider>
                        </div>
                        <div class="c">
                            <ng5-slider [(value)]="medium" [options]="medium_options" style="width: 750px;"></ng5-slider>
                        </div>
                    </div>
                    <p>Easy: <span style="color: #2AE02A;"> {{easy}} </span> </p>
                    <p>Medium: <span style="color: #9980FA;">{{medium}}</span></p>
                    <p>High: <span>{{amount - easy - medium}}</span></p>
                </div>

            </div>
            <button class="btn-test" style="margin: 10px auto;">Save</button>
        </div>
    </div>
</div>