<div class="right-zone" *ngIf="tests">

    <app-create-test [resource]="nameResource" (OutputValue)="handle($event)">
    </app-create-test>

    <div class="container-test">
        <div *ngFor="let test of tests | filter: id" class="test">
            <button (click)="deleteTest(test._id)" class="btn-test"><i class="fas fa-trash-alt"></i></button>
            <div class="content">
                <p class="test-name"> {{test.name}} </p>
                <p>{{test.time}} minute -
                    <span style="font-style: italic;">{{test.amount}} question</span>
                </p>
            </div>
            <a>
                <button (click)="getUrl(test)" class="btn-start ">Share</button>
            </a>
            <a routerLink="result/{{test._id}}">
                <button class="btn-start ">Results</button>
            </a>
            <a routerLink="{{test._id}}"> <button class="btn-start ">Edit</button></a>
        </div>
    </div>

    <div *ngIf="check" class="container-popup">
        <div class="popup-share-test">
            <div class="header-popup">
                <button (click)="closePupup()" class="btn-close"><i class="fas fa-times"></i></button>
            </div>

            <div class="password">
                <input class="pass" type="password" [(ngModel)]="password" placeholder="Password">
                <button class="pass-btn" (click)="putTest()">Set password</button>
            </div>
            <div *ngIf="url">
                <div class="url">
                    <input #text_url type="text" [value]="url">
                    <button (click)='coppyUrl(text_url)'><i class="far fa-copy"></i></button>
                </div>
                <p id="coppied">Copied <i class="fas fa-check"></i></p>
            </div>
        </div>
    </div>

</div>