<app-user></app-user>
<div style="  background: #f2f2f2f2; height: 100vh;">
    <div class="top-admin">
        <a style="margin: 20px;" routerLink="/">Home</a>
        <h1>Admin</h1>
    </div>

    <div class="side-bar-admin">
        <ul>
            <li><a (click)="create()" [ngClass]="{'target': style === true }" routerLink="create-user">Create user</a></li>
            <li><a (click)="list()" [ngClass]="{'target': style === false }" routerLink="list-user">List user</a></li>
        </ul>
    </div>

</div>
<router-outlet></router-outlet>