* {
    margin: 0;
    padding: 0;
}

.top {
    height: 35vh;
    width: 100%;
    position: relative;
}

.bia {
    margin: 0 auto;
    width: 95%;
    height: 200px;
    background-image: url('../../../assets/banner2.jpg');
    background-size: cover;
    border: 1px solid #ffffff;
    border-radius: 0 0 50% 0;
}

.avatar {
    width: 500px;
    height: 150px;
    margin-left: 10vh;
    margin-top: 14vh;
}

.avatar img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    border: 5px solid rgba(15, 188, 249, 1.0);
    border-radius: 50%;
    z-index: -1000;
}

.change {
    position: relative;
    margin-top: -200px;
    padding-right: -50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.change input {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    outline: none;
    opacity: 0;
}

.change i {
    position: absolute;
    bottom: 0;
    right: 50px;
    z-index: 1;
    color: #000;
    font-size: 150%;
}

.change:hover {
    background-color: rgba(206, 214, 224, 0.3);
}

.row h6 {
    font-size: 15px;
}

.row h5 {
    font-size: 17px;
    margin-bottom: 15px;
}

.bia h3 {
    position: absolute;
    top: 69%;
    left: 420px;
    margin: 50px 0 0 -100px;
    color: #ffffff;
    font-weight: bold;
    font-size: 200%;
}

@media (max-height: 700px) {
    .bia {
        height: 270px;
    }
}

@media (max-width: 644px) {
    .bia h3 {
        visibility: hidden;
    }
    .avatar img {
        width: 150px;
        height: 150px;
    }
    .change {
        width: 150px;
        height: 150px;
        margin-top: -150px;
    }
}


/* ----------------bottom---------------- */

.bottom {
    width: 100%;
    height: 55vh;
    margin-top: 100px;
    overflow: hidden;
}

.banner {
    width: 2000px;
    height: 1000px;
    border: 1px solid rgba(15, 188, 249, 1.0);
    border-radius: 50%;
    background: rgba(15, 188, 249, 1.0);
    margin-left: -1500px;
}

.control {
    width: 15%;
    height: 60vh;
    float: left;
}

.button {
    margin-left: 15vh;
    width: 100%;
    height: 50px;
    background: none;
    margin-bottom: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transform: .5s;
}

.event1 {
    border: 5px solid rgba(15, 188, 249, 1.0);
    background: rgba(15, 188, 249, 1.0);
    color: #ffffff;
}

.select {
    width: 75%;
    height: 60vh;
    float: right;
    /* border-left: 5px solid #fbc531; */
}

.select img {
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.row {
    margin-left: 50px;
}

.row h6 {
    color: #9980FA;
}

.row p {
    margin-bottom: 30px;
}

.form1 {
    margin-left: 100px;
    margin-right: 100px;
}

.form1 button {
    margin-top: 10px;
    padding: 5px 20px;
    width: 200px;
    border: none;
    outline: none;
    color: #fdffff;
    background: #9980FA;
    border-radius: 2px;
    cursor: pointer;
}

label {
    font-size: 14px;
    margin-top: 10px;
}

input {
    padding-left: 10px;
    width: 200px;
}