<app-user></app-user>
<div *ngIf="user" class="container1">
    <div class="top">
        <div class="bia">
            <div class="avatar">
                <img *ngIf="!image" src="{{avatar}}" alt="no image">
                <img *ngIf="image" src="{{image}}" alt="no image">
                <div class="change">
                    <input (change)="onUploadChange($event)" type="file" accept=".png, .jpg, .jpeg">
                    <i class="fas fa-camera"></i>
                    <button *ngIf="image" (click)="onUpload()" type="button">Save image</button>
                </div>
            </div>
            <h3> {{user.firstName}} {{user.lastName}}</h3>
        </div>
    </div>
    <div class="bottom">
        <div class="control">
            <button [ngClass]="{ 'event1' : profile1 == true}" class="button" (click)="profile()" type="button"><i class="fas fa-id-badge"></i> Profile</button>
            <button [ngClass]="{ 'event1' : profile1 == false}" class="button" (click)="edit()" type="button"><i class="fas fa-user-edit"></i> Edit</button>
            <div class="banner"></div>

        </div>
        <div class="select">
            <div *ngIf="profile1 == true" class="row" style="margin-left: 100px;">
                <div class="col-md-4">
                    <h6>User Name: </h6>
                    <p>{{user.username}}</p>
                    <h6>Full Name: </h6>
                    <p>{{user.firstName}} {{user.lastName}}</p>
                    <h6>Email: </h6>
                    <p>{{user.email}}</p>
                    <h6>Tel: </h6>
                    <p>{{user.tel}}</p>
                </div>
            </div>

            <div *ngIf="profile1 == false">
                <form class="form1" (ngSubmit)="onUpload()">
                    <div class="col-md-5">
                        User Name:
                        <input class="form-control" type="text" name="username" [(ngModel)]="user.username">
                    </div>
                    <div class="col-md-5">
                        First Name:
                        <input class="form-control" type="text" name="firstname" [(ngModel)]="user.firstName">
                    </div>
                    <div class="col-md-5">
                        Last Name:
                        <input class="form-control" type="first-name" name="lastname" [(ngModel)]="user.lastName">
                    </div>
                    <div class="col-md-5">
                        Email:
                        <input class="form-control" type="text" name="email" [(ngModel)]="user.email">
                    </div>
                    <div class="col-md-5">
                        Tel:
                        <input class="form-control" type="text" name="tel" [(ngModel)]="user.tel">
                    </div>
                    <div class="col-md4">
                        <button>save</button>
                    </div>
                </form>
            </div>

            <img src="../../../assets/profile2.svg" alt="no image">
        </div>
    </div>
</div>