.answer {
    margin-top: 20px;
    font-size: 15px;
}

.cont {
    border: none;
    outline: none;
    width: 100%;
    height: auto;
    min-width: 50x;
    background: none;
    font-size: 15px;
    border-bottom: 1px solid rgba(15, 188, 249, 1.0);
}

h1 {
    width: 100%;
    height: auto;
    min-width: 50x;
    background: none;
    font-size: 15px;
}

.btn-answer {
    border: none;
    outline: none;
    border-radius: 5px;
    width: 30px;
    cursor: pointer;
    background: #ffffff;
    margin-right: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .1);
    opacity: 0;
}

.target:hover .btn-answer {
    opacity: 1;
}

.target:hover {
    cursor: pointer;
    background: #9AECDB;
}

.btn-answer:hover {
    box-shadow: 0px 0px 0px #ffffff;
}

.btn-remove {
    color: #ffffff;
    background: #F79F1F;
}

.btn-answer1 {
    border: 1px solid rgba(15, 188, 249, 1.0);
    border-radius: 5px;
    background: none;
    outline: none;
    width: 50px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}