.answer {
    margin: 5%;
}

li {
    list-style: none;
    margin-left: 20px;
}

.add_ws {
    margin-left: 20px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid springgreen;
}

.cont {
    margin-left: 20px;
    border: none;
    outline: none;
    width: auto;
    height: auto;
    min-width: 50x;
    transition: 1s;
}

.btn-answer {
    border: none;
    outline: none;
    width: 80px;
    cursor: pointer;
}

li::first-letter {
    text-transform: uppercase;
}