<div *ngIf="resource" style="margin: 5%; position: relative; height: 80vh; font-size: 15px;">
    <div class="image-resource">
        <img *ngIf="resource.Image && !image" src="{{resource.Image}}" class="avatar-resource">
        <img *ngIf="image" src="{{image}}" class="avatar-resource">
        <h4 *ngIf="!resource.Image && !image" class="avatar-resource">+</h4>
        <input (change)="onUploadChange($event)" type="file" accept=".png, .jpg, .jpeg .svg" class="input-img">
    </div>

    <input type="text" [(ngModel)]="resource.Name" class="name-resource">
    <textarea [(ngModel)]="resource.Content"></textarea>
    <button (click)="putResource()">Save</button>
    <button (click)="deleteResource(resource._id)">Delete</button>
</div>