.avatar-resource {
    margin-bottom: 20px;
    max-height: 100px;
    max-width: 80%;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.img {
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
}