<div class="user-style">
    <div *ngIf="userName" class="dropdown login" style="background: none; border: none;">
        <img src="{{avatar}}" />
        <button>
          Hello {{name | upfirst}}
        </button>
        <div class="dropdown-content">
            <a class="dropdown-item" routerLink="/profile">Profile</a>
            <a (click)="logout()" class="dropdown-item" routerLink="/">Logout</a>
        </div>
    </div>
    <a *ngIf="!userName" class="login" href="auth">Login</a>
</div>