<div style="font-family: 'Quicksand', sans-serif;">
    <div id="set-scroll">
        <div id="add-test1">
            <h2 (click)="add()" id="btn-add"><i class="fas fa-plus-circle"></i> Create test</h2>
            <div class="create">
                <div class="container-test">
                    <div class="test">
                        <div style="margin: 10px;">
                            <label>Name: </label>
                            <input [(ngModel)]="name" class="name-test" type="text" name="test" placeholder="Test name">

                            <label>Time: </label>
                            <input [(ngModel)]="time" type="text" placeholder="Minute" name="time">

                            <label>Amount: </label>
                            <input (input)="setNewCeil(amount)" [(ngModel)]="amount" type="number" name="amount">

                            <div id="slider">
                                <div class="a">
                                    <ng5-slider [(value)]="min" [(highValue)]="max" [options]="options"></ng5-slider>
                                </div>
                                <div class="set-level">
                                    <ul>
                                        <li>Easy: <span style="color: red;"> {{min}} </span></li>
                                        <li>Medium: <span style="color: #9980FA;">{{max - min}}</span></li>
                                        <li>High: <span style="color: #10ac84;">{{amount- max}}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <button (click)="createTest()" class="btn-test">Generate</button>
                        <button (click)="close()" class="btn-test btn-cancer">Cancer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>