<div class="answer">
    <table>
        <tr>
            <th style="width: 100px;">Status</th>
            <th>Content</th>
            <th style="width: 100px; margin-left: 10px;"></th>
        </tr>
        <tr *ngFor="let a of answer | filter: id" class="target">
            <td style="width: 100px;">
                <button *ngIf="a.right && !fix" class="btn-answer1" type="button">{{a.right}}</button>
                <button *ngIf="fix === a._id" (click)="editRight(a)" class="btn-answer1" type="button">{{a.right}}</button>
            </td>
            <td>
                <input *ngIf="fix === a._id" type="text" [(ngModel)]="a.content" class="cont">
                <h1 *ngIf="fix !== a._id">{{a.content}}</h1>
            </td>
            <td style="width: 100px;">
                <button *ngIf="!fix" (click)="edit(a)" class="btn-answer"><i class="fas fa-edit"></i></button>
                <button *ngIf="fix === a._id" (click)="putAnswer(a)" class="btn-answer"><i class="fas fa-save"></i></button>
                <button (click)="deleteAnswer(a._id)" class="btn-answer btn-remove"><i class="fas fa-trash-alt"></i></button>
            </td>
        </tr>
        <tr>
            <td style="width: 100px;">
                <button (click)="addRight()" class="btn-answer1" type="button">{{r}}</button>
            </td>
            <td>
                <input type="text" [(ngModel)]="content" placeholder="Add answer" class="cont">
            </td>
            <td style="width: 100px;" *ngIf="content">
                <button (click)="postAnswer()" class="btn-answer3"> <i class="fas fa-plus-circle"></i> </button>
            </td>
        </tr>
    </table>
</div>