@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
.container-questions {
    width: 65%;
    /* height: auto;
    min-height: 80vh; */
    position: absolute;
    top: 22vh;
    right: 0;
    background: #f5f6fa;
}

#center {
    position: relative;
    align-items: center;
    width: 98%;
    background: #ffffff;
    margin: 1%;
    padding: 1%;
    height: 470px;
}

.input-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100px;
    width: 150px;
    cursor: pointer;
    z-index: 1;
}

.input-image {
    position: relative;
    height: 50px;
    width: 50px;
    outline: none;
    border: 1px dotted #5f45ea;
    display: block;
    cursor: pointer;
}

.input-image p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    z-index: 0;
    color: #000;
}

img {
    max-height: 100px;
    max-width: 80%;
    cursor: pointer;
}

#set-scroll {
    position: relative;
    top: 0vh;
    z-index: 1;
    width: 100%;
    background: none;
}

#add-question {
    position: relative;
    top: 0vh;
    left: 1%;
    width: 98%;
    height: 50px;
    background: #ffffff;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: height .5s;
}

#add {
    opacity: 1;
    transition: all .6s;
}

.btn-add {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    color: rgba(15, 188, 249, 1.0);
    padding: 5px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 15px;
    height: 30px;
    transition: .3s;
}

.btn-question {
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 13px;
    background: rgba(15, 188, 249, 1.0);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .1);
    margin: 5px;
    right: 0;
    padding: 5px;
    width: 70px;
    display: inline-block;
    opacity: 0;
    transition: .3s;
}

.btn-question1 {
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 13px;
    background: rgba(15, 188, 249, 1.0);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .1);
    margin: 5px;
    right: 0;
    padding: 5px;
    width: 70px;
    cursor: pointer;
    display: inline-block;
    transition: .3s;
}

.btn-cancer {
    background: none;
    width: 55px;
    padding: 4px;
    color: #000;
    font-weight: normal;
    border: 1px solid #f2f2f2f2;
}

.btn-edit {
    background: #ffffff;
    border: 1px solid #f2f2ff;
    /* color: rgba(15, 188, 249, 1.0); */
    width: 30px;
}

.btn-remove {
    color: #ffffff;
    width: 30px;
    background: #F79F1F;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .1);
}

.btn-question:hover,
.btn-add:hover {
    box-shadow: 0px 5px 5px #ffffff;
    cursor: pointer;
}

.right-zone {
    float: right;
    min-height: 100px;
    height: auto;
}

.level {
    margin: 10px 0px;
    font-size: 15px;
    font-style: italic;
}

.container-question {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.question {
    align-items: center;
    width: 98%;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, .1);
    border-radius: 10px;
    height: auto;
    min-height: 100px;
    margin: 1%;
    overflow: hidden;
}

.question:hover {
    cursor: pointer;
}

.question:hover .btn-question {
    opacity: 1;
}

#edit {
    height: auto;
    width: 100%;
    transition: 1s;
}

.content {
    margin: 10px;
}

.ct {
    font-size: 15px;
    width: 100%;
    margin: 0% 0% 1% 0%;
    height: auto;
    padding: 5px;
    min-height: 150px;
    border: 1px solid rgba(15, 188, 249, 1.0);
    outline: none;
    word-break: break-all
}

.image-question {
    position: relative;
}

.image-question input {
    height: 100px;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
}

.image-question h4 {
    border: 1px dotted rgba(15, 188, 249, 1.0);
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 30px;
    padding-left: 35px;
    cursor: pointer;
    z-index: 0;
    margin-bottom: 10px;
}

h5 {
    font-size: 17px;
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: -10px;
}

label {
    margin-bottom: -1%;
    font-size: 15px;
    margin-top: 1%;
    width: 100%;
}

.toggle {
    width: 100%;
    height: 40px;
}

.toggle ul {
    margin: 0;
    padding: 0;
}

.toggle ul li {
    display: inline-block;
    border: 2px solid #f2f2f2f2;
    padding: 3px;
    font-size: 15px;
    width: 70px;
    text-align: center;
    cursor: pointer;
}

.select-level {
    background: #f2f2f2f2;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, .1);
}

textarea::placeholder {
    font-style: 13px;
    color: #dcdde1;
    font-style: italic;
}