<div style="  background: #f5f6fa; height: auto;">
    <div class="top-questions">
        <h1>Questions</h1>
    </div>

    <div class="mid">
        <div id="center">
            <button (click)="cancer_add()" class="btn-question" style="float: right;">cancer</button>
            <h2>Add question:</h2>
            <div class="content-questions">
                <textarea name="content" type="text" class="ct" [(ngModel)]="content"></textarea>
                <div *ngIf="!image" class="input-image">
                    <input (change)="onUploadChange($event)" type="file" accept=".png, .jpg, .jpeg" class="input-img">
                    <p>+</p>
                </div>
                <img style="margin-left: 5%;" src="{{image}}" alt="">
                <button (click)="postQuestion()" class="aaa"> Save</button>
            </div>
        </div>
        <div id="add-question">
            <h3 (click)="add()" *ngIf="!add_answer" class="menu">+ Add</h3>
        </div>

        <div id="resource-zone">
            <app-resource></app-resource>
        </div>

        <div class="question-zone">
            <div class="container-question">
                <div *ngFor="let q of question | filter: id " class="question">
                    <div class="content">
                        <div *ngIf=" id_question !== q._id">
                            <div class="right-zone">
                                <button (click)="showAnswer(q)" class="btn-question">Edit</button>
                                <button (click)="deleteQuestion(q._id)" class="btn-question">Remove</button>
                                <h5 style="margin: 5px;">Level: ez</h5>
                            </div>
                            <p style="margin-bottom: 20px;">{{q.Content}}</p>
                            <img src="{{q.Img}}">
                        </div>
                        <!-- *ngIf="id_question === q._id" -->
                        <div *ngIf="id_question === q._id" id="edit">
                            <textarea type="text" name="content" [(ngModel)]="q.Content" class="ct"></textarea><br>
                            <div class="image-question">
                                <img *ngIf="q.Img" src="{{q.Img}}">
                                <h4 *ngIf="!q.Img">+</h4>
                                <input (change)="onUploadChange($event)" type="file" accept=".png, .jpg, .jpeg" class="input-img">
                            </div>
                            <hr>
                            <app-answers [id]="id_question "></app-answers>
                            <div>
                                <button (click)="putQuestion() " class="btn-question " style="margin-left: 5%; ">Save</button>
                                <!-- <button (click)="cancer() " class="btn-question ">Cancer</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>