@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
}

#set-scroll {
    position: relative;
    top: 0vh;
    width: 100%;
    background: none;
}

.container-start {
    width: 73%;
    height: auto;
    min-height: 100px;
}

#content-qs {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    min-height: 80px;
    width: 100%;
    padding: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: height .5s;
}

.content {
    position: relative;
    display: block;
    margin: 15px auto;
    height: auto;
    min-height: 30px;
    width: 96%;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.number-question {
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    font-size: 12px;
    font-style: italic;
    margin: 2px 5px 10px 2px;
    padding: 0 5px;
    color: rgba(0, 0, 0, .5);
}

.content h1 {
    font-size: 17px;
    line-height: 25x;
    font-style: 15px;
    margin-right: 50px;
}

.content img {
    height: 100px;
    margin: 10px;
    margin-bottom: 20px;
}

.container-qs {
    height: 60vh;
    width: 90%;
    overflow: scroll;
    overflow-x: hidden;
    position: fixed;
}

.test-name {
    text-transform: uppercase;
    font-weight: bold;
    color: #778ca3;
    text-align: center;
    margin-bottom: 10px;
}

.btn-submit {
    display: block;
    margin: 10px auto;
    width: 80px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 13px;
    background: rgba(15, 188, 249, 1.0);
    box-shadow: 0px 5px 5px rgba(15, 188, 249, 0.5);
    color: #ffffff;
    padding: 5px;
    transition: .3s;
}

.btn-submit:hover {
    box-shadow: 0px 5px 5px #ffffff;
    cursor: pointer;
}

h2 {
    font-size: 15px;
    border-radius: 3px;
    padding: 5px 7px;
    background: rgba(15, 188, 249, 1.0);
    color: #ffffff;
    cursor: pointer;
}

.list-answers {
    height: 30px;
    font-size: 15px;
}


/* The container */

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default radio button */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the radio button is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #2196F3;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.container .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.answer-container1 {
    width: 100%;
    margin: -10px 0px 20px 20px;
    height: auto;
}

h1::first-letter {
    text-transform: uppercase;
}

#countdown {
    text-align: center;
    margin: 20px 50px;
    font-style: 20px;
    padding: 10px 20px;
    background: #f2f2f2;
    border-radius: 10px;
}

#menu-test {
    position: absolute;
    top: 110px;
    right: 1%;
    width: 25%;
    height: auto;
    min-height: 40vh;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
    transition: 1s;
    z-index: 1;
}

.container-menu1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
}

.container-menu1 p {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #ffffff;
    background: rgba(15, 188, 249, 1.0);
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}