@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
}

.container-edit {
    font-family: 'Quicksand', sans-serif;
    width: 65%;
    height: auto;
    min-height: 80vh;
    position: absolute;
    top: 22vh;
    right: 1vh;
}

#set-scroll {
    position: relative;
    top: 0vh;
    z-index: 1;
    width: 100%;
    background: none;
}

.container-start {
    width: 100%;
    height: auto;
    min-height: 100px;
}

#content-qs {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    min-height: 80px;
    width: 100%;
    padding: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: height .5s;
}

.content {
    position: relative;
    display: block;
    margin: 15px auto;
    height: auto;
    min-height: 30px;
    width: 96%;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

label {
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    font-size: 12px;
    font-style: italic;
    margin: 2px 5px 10px 2px;
    padding: 0 5px;
    color: rgba(0, 0, 0, .5);
}

.content h1 {
    font-size: 17px;
    line-height: 25x;
    font-style: 15px;
    margin-right: 50px;
}

.content img {
    height: 100px;
    margin: 10px;
    margin-bottom: 20px;
}

.container-qs {
    height: 60vh;
    width: 90%;
    overflow: scroll;
    overflow-x: hidden;
    position: fixed;
}

.test-name {
    text-transform: uppercase;
    font-weight: bold;
    color: #778ca3;
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 13px;
    background: #f2f2f2f2;
    color: #000;
    margin: 5px;
    font-size: 15px;
    text-align: center;
    right: 0;
    padding: 5px;
    width: 30px;
    display: inline-block;
    cursor: pointer;
}

.btn-cancer {
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 13px;
    background: #F79F1F;
    box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .14), 0 4px 8px -1px rgba(0, 0, 0, .12);
    color: #ffffff;
    padding: 5px;
    width: 70px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
    z-index: 10;
    transition: .3s;
}

.btn-cancer:hover,
.btn-add:hover {
    box-shadow: 0px 5px 5px #ffffff;
    cursor: pointer;
}

h2 {
    font-size: 15px;
    border-radius: 3px;
    padding: 5px 7px;
    background: rgba(15, 188, 249, 1.0);
    color: #ffffff;
    cursor: pointer;
}

ul li {
    list-style: none;
    height: 30px;
    font-size: 15px;
}

.answer-container1 {
    width: 100%;
    margin: -10px 0px 20px 20px;
    height: auto;
}

h1::first-letter {
    text-transform: uppercase;
}