<div class="top">
    <input type="checkbox" id="check">
    <label for="check" class="check-btn">
        <i class="fas fa-bars"></i>
    </label>


   <a *ngIf="!username" class="login" routerLink="/login">Login</a>

   <div style="background: none; border: none;" *ngIf="username" class="dropdown login">
        <button style="background: none; border: none; outline: 0 !important;"  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Hello {{username}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Profile</a>
        <button (click)="logout()" class="dropdown-item">Logout</button>
        </div>
    </div>

    <ul>
        <li><a href="#">Nani</a></li>
        <li><a href="#">Nani</a></li>
        <li><a href="#">Nani</a></li>
    </ul>
    
    
    <div class="note">
        <h1>Test Online</h1>
    </div>
</div> 

