<div class="top">
    <input type="checkbox" id="check">
    <label for="check" class="check-btn">
        <i class="fas fa-bars"></i>
    </label>
   <!-- <label class="logo"><img src="logo3.png"/></label> -->
   <a class="login" routerLink="/login">Login</a>
   <!-- <a class="login" style="background: none; border: none;" href="#">Hello Yone </a> -->
    <ul>
        <li><a href="#">Nani</a></li>
        <li><a href="#">Nani</a></li>
        <li><a href="#">Nani</a></li>
    </ul>
    
    
    <div class="note">
        <h1>Test Online</h1>
    </div>
</div> 

