<div style="font-family: 'Quicksand', sans-serif;" *ngIf="tests">
    <div class="container-test">
        <div *ngFor="let test of tests | filter: id" class="test">
            <button (click)="deleteTest(test._id)" class="btn-test"><i class="fas fa-trash-alt"></i></button>
            <div class="content">
                <p class="test-name"> {{test.name}} </p>
                <p style="font-style: italic;">{{test.amount}} question </p>
            </div>
            <button class="btn-start ">Exam start</button>
        </div>
    </div>
</div>