<div class="right-zone" *ngIf="tests">

    <app-create-test [resource]="name_resource" (OutputValue)="handle($event)">
    </app-create-test>

    <div class="container-test">
        <div *ngFor="let test of tests | filter: id" class="test">
            <button (click)="deleteTest(test._id)" class="btn-test"><i class="fas fa-trash-alt"></i></button>
            <div class="content">
                <p class="test-name"> {{test.name}} </p>
                <p>{{test.time}} minute -
                    <span style="font-style: italic;">{{test.amount}} question</span>
                </p>
            </div>
            <a href="tests/{{test._id}}">
                <button class="btn-start ">Start</button>
            </a>
            <a routerLink="{{test._id}}"> <button class="btn-start ">Edit</button></a>
        </div>
    </div>
</div>