<app-user></app-user>
<div style="  background: #f5f6fa; height: auto; font-family: 'Quicksand', sans-serif;">
    <div class="top-questions">
        <div class="custom-shape-divider-bottom-1598373291">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </div>

    <div class="mid" *ngIf="resource">
        <div id="resource-zone">
            <div class="custom-shape-divider-top-1598372428">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
                </svg>
            </div>

            <div *ngIf="resource" style="margin: 5%; position: relative; height: 80vh; font-size: 15px;">
                <div class="image-resource">
                    <img *ngIf="resource.Image && !image" src="{{resource.Image}}" class="avatar-resource">
                    <img *ngIf="image" src="{{image}}" class="avatar-resource">
                    <h4 *ngIf="!resource.Image && !image" class="avatar-resource">+</h4>
                    <input (change)="onUploadChange($event)" type="file" accept=".png, .jpg, .jpeg .svg" class="input-img">
                </div>
                <a routerLink="questions" [ngClass]="{ 'target-btn' : check == true}" (click)="showListquestion()">
                    <i class="fas fa-question-circle"></i>
                    <p>Questions </p>
                </a>
                <a routerLink="tests" [ngClass]="{ 'target-btn' : check == false}" (click)="showListtest()">
                    <i class="fas fa-file-alt"></i>
                    <p>Tests </p>
                </a>
                <input (change)="putResource()" type="text" [(ngModel)]="resource.Name" class="name-resource">
                <textarea (change)="putResource()" [(ngModel)]="resource.Content"></textarea>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>